




body{
  /* width: 1200px; */
  background-color: #1a0033;
  color: #00ffff;
  font-family: "Meiryo",sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  }

h1,h2,h3,#result,#final{
  color: #ff00ff;
  text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

#getPoint, #double{
  color: #ffff00;
  text-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00;
}



button{
  padding: 12px 24px;
  margin : 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(45deg, #ff00ff,#00ffff);
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #ff00ff, 0 0 20 px #00ffff;
  transition: all 0.3s ease;
}

button:hover{
  background: linear-gradient(45deg, #00ffff,#ff00ff);
  box-shadow: 0 0 20px #ffff00, 0 0 40px #ff00ff;
}

button:disabled{
  background: #333;
  color: #999;
  box-shadow: none;
  cursor: not-allowed;
}

/* ラップ設定 */
.container{
  max-width: 1200px;
  margin-top: 50px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


/* main{
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

} */

/* タイトルとロゴ */
.title_section{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.logo{
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* 横スクロールメッセージ */

.scroll_message{
  width: 100%;
  max-width: 100%;
  white-space: nowrap; 
  overflow: hidden;
  animation: scroll 10s linear infinite;
  color: gold;
  font-size: 1.0em;
  /* padding: 10px; */
  /* border-top: 1px solid #444; */
  /* border-bottom: 1px solid #444; */
  /* width: 800px; */
  margin: 10px auto;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* スクロールするトラック親 */
.scroll_track {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0%   { transform: translateX(30%); }
  100% { transform: translateX(-30%); }
}
.scroll_text {
  min-width: 100%;
}

@keyframes popScale{
  0%{
    transform: scale(1);
    opacity: 0.5;
  }

  30%{
    transform: scale(3);
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.pop_effect{
  animation: popScale 0.6s ease-out;
  display: inline-block;
}

.players{
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  /* width: 1200px; */
  margin: auto;
}

.player{
  width: 200px;
  text-align: center;
  /* margin: 5px; */
  font-size: 1.2em;
}

.user_image, .jack_image, .ann_image{
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.player img{
 margin: 0 auto;
}
.dice{
  width: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: hidden;
  margin: 5px auto;
  gap: 5px;
}

.dice img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.result_area{
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* 勝者表示 */
#result{
  font-size: 1.4em;
  color: #ffff00;
  text-shadow: 0 0 5px #ffff00, 0 0 15px #ff00ff;
  /* margin: 5px 0; */

}

#getPoint {
  font-size: 1.4em;     
  color: #ffff00;  
  text-shadow: 0 0 5px #ffff00, 0 0 15px #ff00ff;
  /* margin: 5px 0; */
}

#result, #getPoint,#double {
  line-height: 1.2;   /* 行間を固定して余白を詰める */
  margin: 10px 0;     /* 上下の余白を統一 */
  /* display: inline-block; */
}

#double {
  font-size: 1.4em;
}



.hidden {
  display: none;
}



.scoreboard{
  display: flex;
  justify-content: center;
  gap: 30px ;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  border: 2px solid #ff00ff;
  box-shadow: 0 0 10px #ff00ff, 0 0 10px #ff00ff;
  background-color: rgba(0,0,0,0.3);
  width: fit-content;
}

.score_item{
text-align: center;
color: #ffff00;
font-size: 1.2em;
font-weight: bold;
text-shadow: 0 0 5px #ffff00, 0 0 10px #ff00ff;

}

.score_item .lavel{
  display: block;
  margin-bottom: 5px;
  color: #00ffff;
  font-size: 1em;
}